  .navigation-global {
    position: fixed;
    left: 0;
    background-color: var(--color-secondary);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -100;
    transition: top .4s;


      ul {
        list-style: none;
      }

      li {
        text-align: center;
        margin-bottom: 3rem;
      }

      &__link {
        font-size: 4rem;
        font-weight: 600;

        text-decoration: none;
        color: var(--color-primary);


      }
  }



  //======================== NAVIGATION STYLES ====================================
  .navigation-wrapper {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: transparent;
    justify-content: space-between;
    padding: 1rem 2rem ;
    transition: top 0.4s, background-color .3s;
    z-index: 200;

    @media only screen and (min-width: $bp-medium) {
      padding: .5rem 5rem;
    }
  }



  //======================== LOGO STYLES ====================================
  .logo-box {
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    display: inline-block;

      &__link {
        cursor: pointer;
      }
      &__image {
        width: 4rem;
      }
  }

  //======================== HAMBURGER STYLES ====================================
  .hamburger {
      &__floor-one,
      &__floor-two,
      &__floor-three,
      &__floor-four{
        width: 3.5rem;
        height: .2rem;
        background-color: var(--color-primary);
        opacity: .9;
        margin-bottom: .4rem;
        border-radius: 3px;
        z-index: 200;
      }

      &__floor-two {
        width: 2.5rem;
        margin-left: 1rem;
      }

      &__floor-three {
        width: 2.5rem;
      }

      &__floor-four {
        margin-bottom: 0;
      }
  }

  //======================== HEADER STYLES ====================================
  .main-text {

    width: 95%;
    position: absolute;
    top: 30%;
    left: 0;

    @media only screen and (min-width: $bp-micro) {
      left: 5%;
    }

    @media only screen and (min-width: $bp-small) {
      width: 68%;
      left: 15%;

    }

    @media only screen and (min-width: $bp-large) {
      width: 60%;
      left: 8%;
    }

    @media only screen and (min-width: $bp-desktop-large) {
      width: 45%;
      left: 8%
    }

    &__primary {
      display: block;
      font-size: 2.5rem;
      font-weight: 300;
      margin-left: 2.5rem;
      margin-bottom: 2rem;

      @media only screen and (min-width: $bp-large) {
        font-size: 2.8rem;
      }
    }

    &__secondary,
    &__tertiary {
      display: inline-block;
      font-size: 3.8rem;
      font-weight: 800;
      margin-left: 5rem;
      margin-top: .8rem;

      @media only screen and (min-width: $bp-large) {
        font-size: 4.5rem
      }
    }

    &__tertiary {
      margin-left: 11rem;
    }

    &__heading-primary {
      font-size: 2rem;
      font-weight: 300;
      margin-left: 6rem;
      margin-top: 2rem;

      @media only screen and (min-width: $bp-large) {
        font-size: 2.5rem
      }
    }
  }

  //======================== MEDIA STYLES ====================================
  .media {
    position: absolute;
    bottom: 2rem;
    left: 1.2rem;


      &__link {
        color: var(--color-primary);
        text-decoration: none;
        font-weight: 300;
        margin-left: 1rem;
      }

      &__link:first-child {
        margin-left: .5rem;
      }
  }

  //======================== SECTION ABOUT ====================================
  .about-content {
    display: flex;
    flex-direction: column;
    position: relative;
    @include section-padding;

    &__heading-secondary {
      @include heading-secondary-settings;
    }

    &__heading-secondary::after {
      @include heading-secondary-bottom-dash;
    }

    &__content-first,
    &__content-second,
    &__content-third {
      font-size: 1.6rem;
      text-align: center;
      margin-bottom: .5rem;
      font-weight: 300;
      letter-spacing: 1.8px;
      //opacity: .8;

      @media only screen and (min-width: $bp-medium) {
        text-align: left ;
        font-size: 1.3rem;
        width: 70%;
      }



      //@media only screen and (min-width: $bp-medium) {
      //  text-align: left;
      //  margin-left: 1rem;
      //}


    }

    &__background-image {
      display: none;

      @media only screen and (min-width: $bp-medium) {
        display: block;
        position: absolute;
        opacity: .1;
        width: 50%;
        right: 0;
        top: 40%;
        transform: translateY(-25%);
      }

      @media only screen and (min-width: $bp-large) {
        width: 40%;
        top: 45%;
      }
    }
  }

  //======================== SECTION SKILLS ====================================
  .skills-content {
    width: 100%;
    position: relative;
    z-index: 4;
    @include section-padding;

    &__wrapper {
      @media only screen and (min-width: $bp-medium) {
        display: flex;
      }
    }

    &__background-image {
      display: none;


    @media only screen and (min-width: $bp-medium) {
      display: block;
      width: 50%;
      opacity: .7;
    }
    }


    &__heading-secondary {
      @include heading-secondary-settings;
    }

    &__heading-secondary::after {
      @include heading-secondary-bottom-dash;
    }

    &__heading-tertiary {
      width: 100%;
      margin: 0 auto 1.5rem auto;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 1.9rem;
      text-align: center;

    @media only screen and (min-width: $bp-medium) {
      font-size: 1.5rem;
    }
    }

    .second {
      margin-top: 1.5rem;
    }

    &__images-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      margin: 0 auto;
      width: 100%;
      padding: 0 .5rem;


      @media only screen and (min-width: $bp-small) {
        width: 85%;
      }
      @media only screen and (min-width: $bp-small-medium) {
        width: 75%;
      }

      @media only screen and (min-width: $bp-medium) {
        width: 90%;
        padding: 0 0rem;
      }

    }

    &__image {
      border-radius: 50%;
      height: 4rem;
      margin: 1.5rem 0;


      //@media only screen and (min-width: $bp-medium) {
      //  height: 3rem;
      //}

    }

    &__other-skills {
      width: 90%;
      margin: 0 auto;
    }

    &__skill-name {
      display: flex;
      align-items: center;
      font-size: 1.3rem;
      font-weight: 200;
      line-height: 1.4rem;
      margin-bottom: .4rem;

      @media only screen and (min-width: $bp-medium) {
        font-size: 1.1rem;
      }
    }

    .check {
      width: 2rem;
      display: block;
      margin-right: 1.2rem;
    }
  }


  //======================== SECTION PROJECT ONE ====================================
  .project-content {
    z-index: 1;
    position: relative;
    @include section-padding;

    &__small-margin {
      margin: 10rem auto 0 0;
    }

    &__heading-secondary {
      @include heading-secondary-settings;
    }

    &__heading-secondary::after {
      @include heading-secondary-bottom-dash;
    }

    &__wrapper {

      @media only screen and (min-width: $bp-medium) {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &__text-wrapper {
      @media only screen and (min-width: $bp-medium) {
        width: 60%;
        margin-left: -2rem;
        margin-right: .5rem;
      }

      @media only screen and (min-width: $bp-large) {
        width: 55%;
        margin-left: -1rem;
        margin-right: .5rem;
      }
    }

    &__content-first,
    &__content-second {
      @extend .about-content__content-first;
      font-size: 1.3rem;

      @media only screen and (min-width: $bp-medium) {
        margin: 0 0 .5rem;
        width: 100%;
        font-size: 1.1rem;
      }
    }

    &__button-wrapper {
      width: 100%;
      display: flex;
      //margin: 1rem 1rem ;
      margin: 2rem 0;
      justify-content: space-between;
      color: white;

      @media only screen and (min-width: $bp-medium) {
        margin: 1rem 0 0 0;

      }
    }

    &__button {
      width: 12rem;
      height: 2.6rem;
      background-color: rgba(110, 215, 250, .2);
      opacity: .9;
      border-radius: 15px;
      border: none;
      margin: 0 auto;
      color: white;
      letter-spacing: 2px;
    }

    &__button:focus {
      outline: none;
      transform: translate(1px, 1px);
    }

    &__image-wrapper {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: right;


      @media only screen and (min-width: $bp-medium) {
        width: 60%;

        //temporary
        display: flex;
        flex-direction: column;
        margin-right: -2rem;
      }

    }

    &__image {
      width: 100%;

      @media only screen and (min-width: $bp-small-medium) {
        width: 85%;
      }
      @media only screen and (min-width: $bp-medium) {
        width: 100%;
      }

    }

    &__project-name {
      width: 100%;
      font-size: 3.8rem;
      -webkit-text-stroke: .5px white; /* width and color */
      font-weight: 600;
      color: transparent;

    }


    &__project-name-one {
      @media only screen and (min-width: $bp-medium) {
        width: 100%;
      }
    }

    &__name {
      height: 4rem;
      position: absolute;
      right: 1rem;
      bottom: -4rem;
    }


    &__actual-page {
      display: flex;
      margin-left: 1rem;
      transform: translateY(1.5rem);
    }
  }


  //======================== SECTION CONTaCT ====================================
  .contact-content {
    width: 100%;
    height: 45rem;
    position: relative;
    @include section-padding;
    margin-top: 14rem;


    @media only screen and (min-width: $bp-micro) {
      margin-top: 16rem;
    }

    @media only screen and (min-width: $bp-smallest) {
      margin-top: 17rem;
    }

    @media only screen and (min-width: $bp-small) {
      margin-top: 18rem;
    }

    @media only screen and (min-width: $bp-small-medium) {
      margin-top: 20rem;
    }

    @media only screen and (min-width: $bp-medium) {
      margin-top: 17rem;
    }

    &__heading-secondary {
      @include heading-secondary-settings;
    }

    &__heading-secondary::after {
      @include heading-secondary-bottom-dash;
    }

    &__text {
      font-size: 1.8rem;
      font-weight: 300;
      text-align: center;
      padding: 0 2rem 0 2rem;

      @media only screen and (min-width: $bp-medium) {
        font-size: 2.2rem;
        width: 90%;
        margin: 0 auto;
      }
    }

    &__email,
    &__phone-number {
      display: inline-block;
      width: 100%;
      text-align: center;
      font-size: 2rem;
      margin-top: 5rem;
      z-index: 2;


      @media only screen and (min-width: $bp-large) {
        font-size: 1.8rem;
      }
    }

    &__email:after,
    &__phone-number:after {
      content: "";
      display: block;
      width: 25rem;
      height: .2rem;
      background-color: var(--color-primary);
      border-radius: 2px;
      margin-top: 1rem;
      margin-left: -5rem;


      @media only screen and (min-width: $bp-medium) {
        width: 40rem;
      }

      @media only screen and (min-width: $bp-large) {
        margin: 1.5rem auto;
        width: 30rem;
      }
    }

    &__phone-number {
      margin-top: 2rem;
    }

    &__phone-number:after {
      position: absolute;
      right: -5rem;

      @media only screen and (min-width: $bp-large) {
        right: 0;
        position: relative;
      }
    }

    &__image-background {
      position: absolute;
      width: 25rem;
      opacity: .2;
      bottom: 2rem;
      right: .5rem;
      z-index: 3;
    }
  }