//======================== NAVIGATION STYLES ====================================
.navigation-wrapper {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 2.5rem 0 2.5rem;

}

//======================== LOGO STYLES ====================================
.logo-box {
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  display: inline-block;

    &__link {
      cursor: pointer;
    }
    &__image {
      width: 4rem;
    }
}

//======================== HAMBURGER STYLES ====================================
.hamburger {
    &__floor-one,
    &__floor-two,
    &__floor-three,
    &__floor-four{
      width: 3.5rem;
      height: .2rem;
      background-color: var(--color-primary);
      opacity: .9;
      margin-bottom: .4rem;
      border-radius: 3px;
    }

    &__floor-two {
      width: 2.5rem;
      margin-left: 1rem;
    }

    &__floor-three {
      width: 2.5rem;
    }

    &__floor-four {
      margin-bottom: 0;
    }
}

//======================== HEADER STYLES ====================================
.main-text {

  width: 100%;
  position: absolute;
  top: 40%;
  left: 48%;
  transform: translate(-50%, -50%);


  &__primary {
    display: block;

    font-size: 2.4rem;
    font-weight: 300;
    margin-left: 3rem;
    margin-bottom: 2rem;

  }

  &__secondary,
  &__tertiary {
    display: inline-block;
    font-size: 3.6rem;
    font-weight: 800;
    margin-left: 6rem;
    margin-top: .8rem;

  }

  &__tertiary {
    margin-left: 12.2rem;
  }

  &__heading-primary {
    font-size: 1.8rem;
    font-weight: 300;
    margin-left: 7rem;
    margin-top: 2rem;
  }
}

//======================== MEDIA STYLES ====================================
.media {
  position: fixed;
  bottom: 1.2rem;
  left: 1.2rem;

    &__link {
      color: var(--color-primary);
      text-decoration: none;
      font-weight: 300;
      margin-left: 1rem;
    }

    &__link:first-child {
      margin-left: .5rem;
    }
}

//======================== SCROLL STYLES ====================================
.scroll {
  position: fixed;
  display: flex;
  align-items: center;
  bottom: 20rem;
  right: 1rem;
  transform-origin: right;
  transform: rotate(-90deg);


    &__text {
      font-size: .9rem;
      font-weight: 400;
      color: inherit;
    }

    &__separator {
      width: 3rem;
      height: .1rem;
      margin-left: .4rem;
      background-color: var(--color-primary);
    }

    &__page-view {
      width: .1rem;
      height: .1rem;
      background-color: var(--color-primary);
      margin-left: .7rem;
    }

    &__active-view {
      width: .5rem;
      height: .5rem;
      border: .7px solid lightyellow;
      background-color: transparent;
      border-radius: 50%;
      transform: translateX(-.3rem);

      //animacja co .8 rem dla każdej nastepnej strony
    }
}

//======================== SECTION ABOUT ====================================
.about-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

    &__heading-secondary {
      font-size: 3.3rem;
      font-weight: 500;
      margin-left: 4rem;
    }

    &__content-first,
    &__content-second,
    &__content-third {
      font-size: 1.3rem;
      text-align: center;
      margin: 2rem 2rem 0 2rem;
      font-weight: 300;
      letter-spacing: 1.8px;
      //opacity: .8;
    }

  &__background-image {
    position: absolute;
    top: 21rem;
    left: -15rem;
    opacity: .1;
    transform: rotate(-10deg);
  }

  &__background-triangle {
    z-index: 0;
    position: absolute;
    top: -15rem;
    left: 10rem;
    width: 30rem;
    opacity: .7;
    overflow: hidden;
  }
}

//======================== SECTION SKILLS ====================================
.skills-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

    &__heading-secondary {
      font-size: 3.3rem;
      font-weight: 500;
      margin-bottom: 2.5rem;
      margin-left: -2rem;

    }

    &__heading-tertiary {
      text-transform: uppercase;
      font-weight: 300;
      font-size: 1.4rem;
      text-align: center;
      margin: 0 2rem 1.5rem 2rem;
    }

    &__images-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      width: 90%;

    }

    &__image {
      border-radius: 50%;
      height: 4rem;
      margin: 1rem 1rem;
    }

    &__other-skills {
      margin: 1.4rem 2rem 0 2rem;
    }

    &__skill-name {
      display: flex;
      align-items: center;
      font-size: 1rem;
      font-weight: 200;
      line-height: 1.4rem;
      margin-bottom: .4rem;
    }

    .check {
      width: 2rem;
      display: block;
      margin-right: 1.2rem;
    }
}












