//======================== NAVIGATION STYLES ====================================
.navigation-wrapper {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 2.5rem 0 2.5rem;

}

//======================== LOGO STYLES ====================================
.logo-box {
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  display: inline-block;

    &__link {
      cursor: pointer;
    }
    &__image {
      width: 4rem;
    }
}

//======================== HAMBURGER STYLES ====================================
.hamburger {
    &__floor-one,
    &__floor-two,
    &__floor-three,
    &__floor-four{
      width: 3.5rem;
      height: .2rem;
      background-color: var(--color-primary);
      opacity: .9;
      margin-bottom: .4rem;
      border-radius: 3px;
    }

    &__floor-two {
      width: 2.5rem;
      margin-left: 1rem;
    }

    &__floor-three {
      width: 2.5rem;
    }

    &__floor-four {
      margin-bottom: 0;
    }
}

//======================== HEADER STYLES ====================================
.main-text {

  width: 100%;
  position: absolute;
  top: 40%;
  left: 48%;
  transform: translate(-50%, -50%);


  &__primary {
    display: block;

    font-size: 2.4rem;
    font-weight: 300;
    margin-left: 3rem;
    margin-bottom: 2rem;

  }

  &__secondary,
  &__tertiary {
    display: inline-block;
    font-size: 3.6rem;
    font-weight: 800;
    margin-left: 6rem;
    margin-top: .8rem;

  }

  &__tertiary {
    margin-left: 12.2rem;
  }

  &__heading-primary {
    font-size: 1.8rem;
    font-weight: 300;
    margin-left: 7rem;
    margin-top: 2rem;
  }
}

//======================== MEDIA STYLES ====================================
.media {
  position: fixed;
  bottom: 1.2rem;
  left: 1.2rem;

    &__link {
      color: var(--color-primary);
      text-decoration: none;
      font-weight: 300;
      margin-left: 1rem;
    }

    &__link:first-child {
      margin-left: .5rem;
    }
}

//======================== SCROLL STYLES ====================================
.scroll {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 13rem;
  right: 1.3rem;
  transform-origin: right;
  transform: rotate(-90deg);

    &__separator {
      width: 3rem;
      height: .1rem;
      margin-right: .5rem;
      background-color: var(--color-primary);
      transform: translateY(.1rem);
    }

}

//======================== SECTION ABOUT ====================================
  .about-content {
    //height: 100%;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    position: relative;

      &__heading-secondary {
        font-size: 3.3rem;
        font-weight: 500;
        margin: 0 0 2rem 6rem;
      }

      &__content-first,
      &__content-second,
      &__content-third {
        font-size: 1.3rem;
        text-align: center;
        margin: 0 2rem .5rem 2rem;
        font-weight: 300;
        letter-spacing: 1.8px;
        //opacity: .8;
      }

    &__background-image {
      position: absolute;
      top: 14rem;
      left: -15rem;
      opacity: .1;
      transform: rotate(-10deg);
    }

    &__background-triangle {
      z-index: 0;
      position: absolute;
      top: -25rem;
      left: 10rem;
      width: 40rem;
      opacity: .7;
      overflow: hidden;
    }
  }

//======================== SECTION SKILLS ====================================
  .skills-content {
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

      &__heading-secondary {
        font-size: 3.3rem;
        font-weight: 500;
        margin: 0 0 2rem 6rem;
        display: block;

      }

      &__heading-tertiary {
        width: 80%;
        margin: 0 auto 1.5rem auto;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 1.4rem;
        text-align: center;
      }

      .second {
        margin-top: 1.5rem;
      }

      &__images-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto;
        width: 90%;

      }

      &__image {
        border-radius: 50%;
        height: 4rem;
        margin: 1rem 1rem;
      }

      &__other-skills {
        width: 90%;
        margin: 0 auto;
      }

      &__skill-name {
        display: flex;
        align-items: center;
        font-size: 1rem;
        font-weight: 200;
        line-height: 1.4rem;
        margin-bottom: .4rem;
      }

      .check {
        width: 2rem;
        display: block;
        margin-right: 1.2rem;
      }

      &__background-triangle {
        position: absolute;
        left: -10rem;
        top: -20rem;
        width: 100rem;
        opacity: .5;
        z-index: 0;
        overflow: hidden;
      }
  }





//======================== SECTION CONTaCT ====================================

.contact-content {
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-65%);


  &__heading-secondary {
    @extend .skills-content__heading-secondary;
    margin-bottom: 5rem;
  }

  &__text {
    font-size: 1.8rem;
    font-weight: 300;
    text-align: center;
    padding: 0 2rem 0 2rem;
  }

  &__email,
  &__phone-number{
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size:  2rem;
    margin-top: 3rem;
  }

  &__email:after,
  &__phone-number:after {
    content: "";
    display: block;
    width: 24rem;
    height: .2rem;
    background-color: var(--color-primary);
    border-radius: 2px;
    margin-top: 1rem;

  }

  &__phone-number {
    margin-top: 2rem;
  }

  &__phone-number:after {
    position: absolute;
    right: 0;
  }


  &__image-background {
    position: absolute;
    width: 20rem;
    opacity: .2;
    bottom: -50%;
    right: 0;
    z-index: -1;
  }
}

//======================== SECTION PROJECT ONE ====================================

.project-content {
  width: 100%;
  z-index: 1;
  position: relative;
  top: 50%;
  transform: translateY(-50%);

    &__heading-secondary {
      @extend .skills-content__heading-secondary;

    }

    &__content-first,
    &__content-second {
      @extend .about-content__content-first;
      font-size: 1rem;
    }

    &__button-wrapper {
      width: 100%;
      display: flex;
      margin: 1rem 0 ;
      justify-content: space-between;
      color: white;
    }

    &__button {
      width: 12rem;
      height: 2.4rem;
      background-color: rgba(110, 215, 250, .2);
      opacity: .9;
      border-radius: 15px;
      border: none;
      margin: 0 auto;
      color: white;
      letter-spacing: 2px;
    }

  &__button:focus {
    outline: none;
    transform: translate(1px, 1px);
  }



    &__image-wrapper {
      position: relative;

    }

    &__image {
      width: 90%;
      margin: 0 calc((100vw - 90%)/2);
    }

    &__name {
      width: 60%;
      position: absolute;
      right: 1rem;
      bottom: -5rem;
    }

    &__circle {
      z-index: -1;
      border-radius: 50%;
      width: 50rem;
      height: 50rem;
      background: #C4C4C4;
      opacity: .03;
      position: absolute;
      left: 10rem;
      top: -30rem;
    }


    &__actual-page {
      display: flex;
      margin-left: 1rem;
    transform: translateY(2.5rem);
    }

    &__project-one,
    &__project-two,
    &__separator{
      font-size: 2rem;
      margin-left: 1rem;
    }

}



