.top {
  height: 100vh;
  background: url("../assets/background.jpg") no-repeat 82% 20%;
  background-size: cover;
  position: relative;
}

.header {
  position: fixed;
  z-index: 101;
}



.about,
.project-one,
.project-two,
.skills,
.contact
{
  background-color: var(--color-secondary);


  @media only screen and (min-width: $bp-smallest) {
    margin: 0 1.5rem;
  }
}

