.top {
  height: 100vh;
  background: url("../assets/background.jpg") no-repeat 82% 20%;
  background-size: 400%;
  position: relative;
}

.header {
  position: fixed;
  z-index: 101;
}



.about,
.skills,
.project,
.contact
{

  height: 100vh;
  background-color: var(--color-secondary);
}
