:root {
  --color-primary: #e6e9d6;
  --color-secondary: #383138;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  color: var(--color-primary);
}

body {
  position: relative !important;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.1rem;
  background: var(--color-secondary);
  color: var(--color-primary);
  display: flex;
  flex-direction: column;
}

.top {
  height: 100vh;
  background: url("../assets/background.jpg") no-repeat 82% 20%;
  background-size: 400%;
  position: relative;
}

.header {
  position: fixed;
  z-index: 101;
}

.about,
.skills,
.project,
.contact {
  height: 100vh;
  background-color: var(--color-secondary);
}

.navigation-wrapper {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 2.5rem 0 2.5rem;
}

.logo-box {
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  display: inline-block;
}
.logo-box__link {
  cursor: pointer;
}
.logo-box__image {
  width: 4rem;
}

.hamburger__floor-one, .hamburger__floor-two, .hamburger__floor-three, .hamburger__floor-four {
  width: 3.5rem;
  height: 0.2rem;
  background-color: var(--color-primary);
  opacity: 0.9;
  margin-bottom: 0.4rem;
  border-radius: 3px;
}
.hamburger__floor-two {
  width: 2.5rem;
  margin-left: 1rem;
}
.hamburger__floor-three {
  width: 2.5rem;
}
.hamburger__floor-four {
  margin-bottom: 0;
}

.main-text {
  width: 100%;
  position: absolute;
  top: 40%;
  left: 48%;
  transform: translate(-50%, -50%);
}
.main-text__primary {
  display: block;
  font-size: 2.4rem;
  font-weight: 300;
  margin-left: 3rem;
  margin-bottom: 2rem;
}
.main-text__secondary, .main-text__tertiary {
  display: inline-block;
  font-size: 3.6rem;
  font-weight: 800;
  margin-left: 6rem;
  margin-top: 0.8rem;
}
.main-text__tertiary {
  margin-left: 12.2rem;
}
.main-text__heading-primary {
  font-size: 1.8rem;
  font-weight: 300;
  margin-left: 7rem;
  margin-top: 2rem;
}

.media {
  position: fixed;
  bottom: 1.2rem;
  left: 1.2rem;
}
.media__link {
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 300;
  margin-left: 1rem;
}
.media__link:first-child {
  margin-left: 0.5rem;
}

.scroll {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 14.4rem;
  right: 1.3rem;
  transform-origin: right;
  transform: rotate(-90deg);
}
.scroll__separator {
  width: 3rem;
  height: 0.1rem;
  margin-right: 0.5rem;
  background-color: var(--color-primary);
  transform: translateY(0.1rem);
}

.about-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.about-content__heading-secondary {
  font-size: 3.3rem;
  font-weight: 500;
  margin: 0 0 2rem 6rem;
}
.about-content__content-first, .project-content__content-first, .project-content__content-second, .about-content__content-second, .about-content__content-third {
  font-size: 1.3rem;
  text-align: center;
  margin: 0 2rem 0.5rem 2rem;
  font-weight: 300;
  letter-spacing: 1.8px;
}
.about-content__background-image {
  position: absolute;
  top: 14rem;
  left: -15rem;
  opacity: 0.1;
  transform: rotate(-10deg);
}
.about-content__background-triangle {
  z-index: 0;
  position: absolute;
  top: -25rem;
  left: 10rem;
  width: 40rem;
  opacity: 0.7;
  overflow: hidden;
}

.skills-content {
  width: 100%;
  position: relative;
}
.skills-content__heading-secondary, .contact-content__heading-secondary, .project-content__heading-secondary {
  font-size: 3.3rem;
  font-weight: 500;
  margin: 0 0 2rem 6rem;
  display: block;
}
.skills-content__heading-tertiary {
  width: 80%;
  margin: 0 auto 1.5rem auto;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.4rem;
  text-align: center;
}
.skills-content .second {
  margin-top: 1.5rem;
}
.skills-content__images-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 90%;
}
.skills-content__image {
  border-radius: 50%;
  height: 4rem;
  margin: 1rem 1rem;
}
.skills-content__other-skills {
  width: 90%;
  margin: 0 auto;
}
.skills-content__skill-name {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.4rem;
  margin-bottom: 0.4rem;
}
.skills-content .check {
  width: 2rem;
  display: block;
  margin-right: 1.2rem;
}
.skills-content__background-triangle {
  position: absolute;
  left: -10rem;
  top: -20rem;
  width: 100rem;
  opacity: 0.5;
  z-index: 0;
  overflow: hidden;
}

.project-content {
  width: 100%;
  z-index: 1;
  position: relative;
}
.project-content__content-first, .project-content__content-second {
  font-size: 1rem;
}
.project-content__button-wrapper {
  width: 100%;
  display: flex;
  margin: 1rem 0;
  justify-content: space-between;
  color: white;
}
.project-content__button {
  width: 12rem;
  height: 2.4rem;
  background-color: rgba(110, 215, 250, 0.2);
  opacity: 0.9;
  border-radius: 15px;
  border: none;
  margin: 0 auto;
  color: white;
  letter-spacing: 2px;
}
.project-content__button:focus {
  outline: none;
  transform: translate(1px, 1px);
}
.project-content__image-wrapper {
  position: relative;
}
.project-content__image {
  width: 90%;
  margin: 0 calc((100vw - 90%)/2);
}
.project-content__name {
  width: 60%;
  position: absolute;
  right: 1rem;
  bottom: -5rem;
}
.project-content__circle {
  z-index: -1;
  border-radius: 50%;
  width: 50rem;
  height: 50rem;
  background: #C4C4C4;
  opacity: 0.03;
  position: absolute;
  left: 10rem;
  top: -30rem;
}
.project-content__actual-page {
  display: flex;
  margin-left: 1rem;
  transform: translateY(2.5rem);
}
.project-content__project-one, .project-content__project-two, .project-content__separator {
  font-size: 2rem;
  margin-left: 1rem;
}

.contact-content {
  width: 100%;
  position: relative;
}
.contact-content__heading-secondary {
  margin-bottom: 5rem;
}
.contact-content__text {
  font-size: 1.8rem;
  font-weight: 300;
  text-align: center;
  padding: 0 2rem 0 2rem;
}
.contact-content__email, .contact-content__phone-number {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  margin-top: 3rem;
}
.contact-content__email:after, .contact-content__phone-number:after {
  content: "";
  display: block;
  width: 24rem;
  height: 0.2rem;
  background-color: var(--color-primary);
  border-radius: 2px;
  margin-top: 1rem;
}
.contact-content__phone-number {
  margin-top: 2rem;
}
.contact-content__phone-number:after {
  position: absolute;
  right: 0;
}
.contact-content__image-background {
  position: absolute;
  width: 20rem;
  opacity: 0.2;
  bottom: -50%;
  right: 0;
  z-index: -1;
}

/*# sourceMappingURL=main.css.map */
