  @mixin section-padding {
    margin: 10rem auto 0 auto;


    @media only screen and (min-width: $bp-micro) {
      margin: 12rem auto 0 auto;
    }

    @media only screen and (min-width: $bp-smallest) {
      margin: 13rem auto 0 auto;
    }

    @media only screen and (min-width: $bp-small) {
      margin: 16rem auto 0 auto;
    }

    @media only screen and (min-width: $bp-small-medium) {
      margin: 18rem auto 0 auto;
    }

    @media only screen and (min-width: $bp-medium) {
      margin: 16rem auto 0 auto;
    }
  }

  @mixin heading-secondary-settings {
    font-size: 3.8rem;
    font-weight: 500;
    margin: 0 auto 4rem 1.5rem;
  }

  @mixin heading-secondary-bottom-dash {
    content: "";
    display: block;
    width: 25rem;
    margin-top: 1rem;
    height: .2rem;
    background-color: var(--color-primary);
    border-radius: 5px;
  }


