@mixin section-padding {
  margin: 18rem auto 0 auto;
  padding: 0 1rem;


  @media only screen and (min-width: $bp-smallest) {
    margin-top: 18rem;
  }

  @media only screen and (min-width: $bp-small-medium) {
    margin-top: 22rem;
  }


  @media only screen and  (min-width: $bp-medium) {
    margin-top: 15rem;
    margin-left: 2rem;
  }

  @media only screen and  (min-width: $bp-large) {
    margin-top: 20rem;
    margin-left: 2rem;

  }
  @media only screen and (min-width: $bp-largest) {
    margin: 18rem auto 0 2rem;
    padding: 0 0;
  }

}

@mixin heading-secondary-settings {
  font-size: 3.3rem;
  font-weight: 500;
  margin: 0 auto 4rem 1.5rem;


  @media only screen and (min-width: $bp-medium) {
    margin-left: 0;
  }

  @media only screen and (min-width: $bp-largest) {
    margin: 0 auto 8rem 1.5rem;
  }
}

@mixin heading-secondary-bottom-dash {
  content: "";
  display: block;
  width: 25rem;
  margin-top: 1rem;
  height: .2rem;
  background-color: var(--color-primary);
  border-radius: 5px;
}


